.wrapper__scanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  height: calc(100vh - 2rem);
}

.video--container {
  padding: 10px;
  video {
    width: 100%;
    border-radius: 6px;
  }
}

.float-button {
  float: right;
  z-index: 10;
  position: relative;
  transform: translate(133px, 49px)
}


