<section class="wrapper__scanner">
  <button class="float-button" (click)="changeCamera()">R</button>
  <div class="video--container">
    <video #videoElement autoplay playsinline> </video>
  </div>
  <p class="mt-2">{{"Centralize a camera com o qrcode"}}</p>
  <h1>Resultado</h1>
  <span>{{result}}</span>
  <div class="video--container" style="display: none">
    <canvas id="canvas" #canvas></canvas>
  </div>
</section>
